__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.vscode
.idea
*.ipynb_checkpoints
.env
.venv
env/
venv/
ENV/
mlruns/
*.log
.DS_Store
temp_*.csv
models/*.pkl
